/* Editor.css */
*{
  background-color: blue;
}

h3{
  color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  

  
  .input-text {
    width: 45vw;
    height: 60vh;
    border-radius: 3px;
    color: white;
  }
  
  .output-text {
    width: 35vw;
    height: 70vh;
    padding: 10px;
    border-radius: 7px;
    overflow-wrap: break-word;
    color: white;
    background-color: rgb(63, 60, 60);
  }
  